
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <div> 
        There are @ViewBag.count books in the repository
    </div>
    @Html.ActionLink("Return", "Index")
</body>
</html>
